@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Latest complaints</h2>
        @foreach (var joke in Model.Jokes)
        {
            <div class="col-md-4">
                <a href="@joke.Url">
                    @Html.Raw(joke.Content.Replace("\n", "<br />"))
                </a>
                <div>@joke.Category</div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Most popular complaints</h2class="text-center">
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-2">
                @category.Name
            </div>
        }
    </div>
</div>

